body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
}
.wrap {
    margin: 0px auto;
    padding: 1rem 1.5rem;

    max-width: 32rem;
}

header {
    margin: 0 auto;

    max-width: 32rem; 
}
h1 {
    font-family: 'Nanum Gothic', sans-serif;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800;
    color: indigo;
}
.subTitle {
    margin: 1rem auto;
    max-width: 28rem;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color: gray;
}

.font {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: .875rem;
    font-weight: 700;
}
.inputwrap {
    position: relative;

    display: flex;
    margin: 0.25rem 0 0 0;

    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}
#birthday {
    width: 100%;

    margin: 0.5rem;
    padding: 0.875rem;
    padding-right: 1rem;

    border-radius: .5rem;
    border: 1px solid rgb(229 231 235);

    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}

.submitBtn {
    position: relative;
    width: 100%;

    padding: 0.875rem;
    margin-top: 1rem;

    border-radius: .5rem;
    border: none;
    background:linear-gradient(180deg, rgb(105, 0, 180),rgb(75, 0, 130));

    display: inline-block;
    text-align: center;


    font-family: 'Nanum Gothic', sans-serif;
    font-size: 0.825rem;
    font-weight: 400;
    color: white;

    cursor: pointer;
    overflow: hidden;

}

span {
    position: absolute;
    background-color: #fff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear;
}

@keyframes animate {
    0% {
        width: 0px;
        height:0px;
        opacity: 0.4;
    }
    100% {
        width: 1000px;
        height: 1000px;
        opacity: 0;
    }
}